.smallDisplayCard__container {
	display: flex;
	gap: 1rem;
	max-width: 300px;
	width: fit-content;
}

.smallDisplayCard {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding: 12px;
	border-radius: 12px;
	width: 280px;
}
.smallDisplayCard__icon {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.smallDisplayCard__title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}
